{% extends 'base.html.twig' %}

{% block title %}JediKnightChannel - MEDIA{% endblock %}

{% block body %}
    <div id="body">
        <div class="header">
            <div>
                <h1>Media</h1>
                <div class="article">
                    <ul>
                        <li>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/GBsYguCK1PA" frameborder="0" allowfullscreen></iframe>
                        </li>
                        <li>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/W2SIRENV1Rs" frameborder="0" allowfullscreen></iframe>
                        </li>
                        <li>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/pY1sHcfgH3g" frameborder="0" allowfullscreen></iframe>
                        </li>
                        <li>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_X8O2c-A9J4" frameborder="0" allowfullscreen></iframe>
                        </li>
                    </ul>
                </div>
                <div class="sidebar">
                    <ul>
                        <li>
                            <a href="/media">Скриншоты</a>
                        </li>
                        <li>
                            <a href="/media">Видео</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
