{% extends 'base.html.twig' %}

{% block title %}JediKnightChannel{% endblock %}

{% block body %}
    <div id="body" class="noselect">
        <div class="list">
            <div>
                <h1>Открытое редактирование</h1>
                <h2 class="empire">Сит-инквизитор</h2>
                <h3>Коррибан</h3>
                <h3>Дромунд-Каас</h3>
                <h3>Балморра</h3>
                <p><a href="reader1.php?query=inq/balmorra/captain_ilun.txt">Капитан Илун</a></p>
                <p><a href="reader1.php?query=inq/balmorra/datapad.txt">Инфопланшет</a></p>
                <p><a href="reader1.php?query=inq/balmorra/hiran.txt">Хиран</a></p>
                <p><a href="reader1.php?query=inq/balmorra/iannos_tyrek.txt">Ианнос Тирек</a></p>
                <p><a href="reader1.php?query=inq/balmorra/lord_zash.txt">Лорд Заш</a></p>
                <p><a href="reader1.php?query=inq/balmorra/major_bessiker.txt">Майор Бессикер</a></p>
                <p><a href="reader1.php?query=inq/balmorra/major_ilun.txt">Майор Илун</a></p>
                <h2 class="empire">Сит-воин</h2>
                <h3>Коррибан</h3>
                <p><a>Брег</a></p>
                <p><a>Каллеф</a></p>
                <p><a>Дарт Барас</a></p>
                <p><a>Девотек</a></p>
                <p><a>Долгис</a></p>
                <p><a>Элизис</a></p>
                <p><a>Эскелла</a></p>
                <p><a>Тюремщик Нэш</a></p>
                <p><a>Клемрал</a></p>
                <p><a>Надзиратель Тремел</a></p>
                <p><a>Файн</a></p>
                <p><a>Соленц</a></p>
                <p><a>Тино</a></p>
                <p><a>Вемрин</a></p>
                <p><a>Ветт</a></p>
                <h2 class="republic">Рыцарь-джедай</h2>
                <h3>Тайтон</h3>
                <p><a>A4PO</a></p>
                <p><a>Бенгел Морр</a></p>
                <p><a>Бенор Уно</a></p>
                <p><a>Каллеф</a></p>
                <p><a>Деррин Уэллер</a></p>
                <p><a>Управление энергощита</a></p>
                <p><a>Эзени</a></p>
                <p><a>Вождь раздирателей</a></p>
                <p><a>Хранилище раздирателей</a></p>
                <p><a>Сейф раздирателей</a></p>
                <p><a>Кира Карсен</a></p>
                <p><a>Лаотах</a></p>
                <p><a>Мастер Бела Кивиикс</a></p>
                <p><a>Мастер Оргус Дин</a></p>
                <p><a>Мастер Сатил Шан</a></p>
                <p><a>Матриарх Сумари</a></p>
                <p><a>Ранна Таовен</a></p>
                <p><a>Сэйлу</a></p>
                <p><a>Главный разведчик Муринт</a></p>
                <p><a>Тэсемь</a></p>
                <p><a>Великая Кузница</a></p>
                <h2 class="republic">Джедай-консул</h2>
                <h3>Тайтон</h3>
                <p><a>Древний дроид</a></p>
                <p><a>Башенн</a></p>
                <p><a>Кахел Це</a></p>
                <p><a>Кала Брин</a></p>
                <p><a>Гарон Джард</a></p>
                <p><a>Страж</a></p>
                <p><a>Спрятанная ниша</a></p>
                <p><a>Голограмма</a></p>
                <p><a>Мастер Радживари</a></p>
                <p><a>Мастер Сио Бакарн</a></p>
                <p><a>Мастер Юон Пар</a></p>
                <p><a>Нален Ралох</a></p>
                <p><a>Орт Квэйн</a></p>
                <p><a>Куча костей</a></p>
                <p><a>Кайзен Фесс</a></p>
                <p><a>Надписи на камне</a></p>
                <p><a>Терс Сендон</a></p>
                <p><a>Кузница</a></p>
                <p><a>Вадрия Таллион</a></p>
                <p><a>Ванел</a></p>
                <p><a>Раненый тви'лек</a></p>
            </div>
        </div>
    </div>
{% endblock %}
