{% extends 'base.html.twig' %}

{% block body %}
    <div id="body">
        <div class="header">
            <div class="contact">
                <h1>Упс, произошла ошибка...</h1>
                <h2>Перейдите на <a href="/">Главную страницу</a></h2>
            </div>
        </div>
    </div>
{% endblock %}