<div id="footer">
    <div class="connect">
        <div>
            <h1>Следите за нами в </h1>
            <section>
                <a href="https://twitch.tv/jediknightchannel/"><img src="{{ asset('public/images/social/twitch.jpg') }}"
                                                                    height="40px" width="40px"></a>
                <a href="https://vk.com/jediknightchannel"><img src="{{ asset('public/images/social/vk.png') }}" height="40px"
                                                                width="40px"></a>
                <a href="https://www.youtube.com/channel/UCq3OueoADMdxxYs_Oauodog"><img
                            src="{{ asset('public/images/social/youtube.png') }}" height="40px" width="40px"></a>
            </section>
        </div>
    </div>
    <div class="footnote">
        <div>
            <p>&copy; 2017 BY JEDIKNIGHTCHANNEL | ALL RIGHTS RESERVED</p>
        </div>
    </div>
</div>